<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - 500 - Internal Error #CodePenChallenge</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/static/css/404.css">

</head>
<body>
<!-- partial:index.partial.html -->
<p class="info">This Page Doesn't Exists..</p>
<h1 class="internal"><span class="zero">4</span><span class="five">0</span><span class="zero">4</span></h1>
<footer class="link"><a href="https://www.altreiter.at">Back to HomePage</a></footer>
<!-- partial -->
  
</body>
</html>
